/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal Basic Reset removing preadded margin & padding, doing ::after & ::before prevents strange behavior with box-sizing*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Forces inheritance */
}

html {
    font-size: 62.5%;  /* 10px out of standard 16px */
}

body {
    font-family: "Lato", sans-serif; /*Universal Font Choice */
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

.header{ /*"." class selector  */
    height: 95vh;
    background-image: linear-gradient( /*Layered by order*/
    to right bottom,
    #7ed56fcd, 
    #28b485b3),
     url('../img/hero.jpg'); 
    background-size: cover;
    background-position: top; /*Ensures top of image stays anchored ... crops bottom as viewport goes smaller */
    position: relative; /* Helps absolute positioning */

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%) /*Top left & move clockwise -- creates cutout portion */
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box{ /*Used for centering */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Shifts 50% of the width */
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /* Keeps backpart invisible of the heading when transforming */

    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease out;

    /*
    Essential Animation Properties:

    animation-timing-function: ease out;
    animation-delay: 3s; --Adds delay
    animation-iteration-count: 3; -- Happens 3 times
    */
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease out;
}


@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem); /* Adds slight overshoot */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem); /* Adds slight overshoot */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; /* Use with Padding */
    border-radius: 10rem;
    transition: all .2s; /* Sets initial state */
    position: relative;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
}

.btn--animated{
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease out;
    animation-delay: .75s;
    animation-fill-mode: backwards; /* Set before animation starts to hide intial button */
}

/* Gives 3D Effect for Button Press */
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn--white{
    background-color: white;
    color: #777;
}

.btn::after{ /* Treated as child of btn */
    content: ""; /*Must be specified to appear */
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after{
    background-color: white;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; /* Adds fade out after .4s */
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}